@import "../../common/colors.scss";
.card-item {
  background: $secondary-color;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s;
  max-width: 300px;
  overflow: hidden;  
  // display: flex;
  // // flex-direction: ;
  // justify-content: center;
  // align-items: center;
}

.card-top {
  height: 400px;

  img {
    width: 100%;
    height: 100%;
    opacity: 0.85;
    transition: all 0.3s;
    // IMPORTANT : This will create a zoom effect, since we are going to increase the scale of the image as we hover over it.
    &:hover {
        transform: scale(1.05);
        opacity: 2;
        transition: all 0.3s;
      }
  }
}

.card-bottom {
  padding: 20px;
}



.card-info {
  color: $font-primary;
  min-height: 80px;
  display: flex;
  flex-direction: column;
//   justify-content: end;
// IMPORTANT : You can easily have experiments with all the other tools out here, flex-direction : row and the align-item all work hand to hand.
  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
