@import "../../common/colors.scss";

.movie-list,
.show-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    // align-items: center;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.movie-wrapper{
    border: '2px solid green';
}

.movie-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//   grid-gap: 15px;
    display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie-inner-container {
  max-width: 800px;
}

.extra-component{
  // color: red;
  visibility: hidden;
}